[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dsp"]
	path = dsp
	url = https://github.com/Signalsmith-Audio/dsp.git
[submodule "implot"]
	path = implot
	url = https://github.com/TheBlueOompaLoompa/implot.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
